$primary-color-white: #ffffff;
$primary-color-blue: #0c5aeb;
$primary-color-dark: #333333;
$primary-color-gray: #f2f2f2;
$secondary-color-blue: #6a9eec;
$secondary-color-gray: #dddada;
$primary-btn-color: #887777;
$primary-close-background: #fff3cd;
$primary-delete-background: #f8d7da;
