@import "../../style/variables";
main {
  .form {
    margin: 5rem 5rem;
    &-group {
      margin: 0.4rem 0;
      &__label {
        margin: 0.7rem 0;
        label {
          font-size: 1.2rem;
          font-weight: 500;
        }
      }

      &__control {
        width: 80%;
        outline: none;
        padding: 0.3rem 1.3rem;
        font-size: 1.2rem;
        border: 2px solid $primary-color-dark;
      }
    }

    &-btn {
      outline: none;
      color: $primary-color-white;
      font-size: 1.2rem;
      padding: 0.4rem 1.5rem;
      margin-top: 1rem;
      background-color: $primary-color-blue;
      border: 2px solid $primary-color-blue;
      cursor: pointer;
      transition: all 0.3s;
      letter-spacing: 1px;

      &:hover {
        background-color: $primary-color-white;
        color: $primary-color-blue;
      }
    }
  }
}
